<launch>
  <!-- BEGIN:common setting -->
  <arg name="RESPAWN" default="true"/>
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />
  <!-- END:common setting -->

  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <arg name="corbaport" default="15005" />
  <arg name="KILL_SERVERS" default="false" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver):$(arg corbaport)" />
  <arg name="omniorb_args" default="-ORBInitRef NameService=corbaloc:iiop:$(arg nameserver):$(arg corbaport)/NameService" />
  <!-- END:openrtm setting -->

  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader"
        args="$(arg omniorb_args)"
        respawn="$(arg RESPAWN)" output="screen" />

  <node name="modelloader_test" pkg="openhrp3" type="modelloader-test.py" output="screen" />
</launch>
