<launch>
  <!-- BEGIN:common setting -->
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />
  <!-- END:common setting -->

  <node name="modelloader" pkg="openhrp3" type="openhrp-model-loader" />

  <test test-name="modelloader_test" pkg="openhrp3" type="modelloader-test.py" />
</launch>
